In [15]:
import pandas as pd
import numpy as np

In [16]:
df = pd.read_csv("../../03_data/ISIC2019 384x384 jpeg/train.csv", index_col=0)

In [17]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 25331 entries, ISIC_0000000 to ISIC_0073254
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   MEL     25331 non-null  float64
 1   NV      25331 non-null  float64
 2   BCC     25331 non-null  float64
 3   AK      25331 non-null  float64
 4   BKL     25331 non-null  float64
 5   DF      25331 non-null  float64
 6   VASC    25331 non-null  float64
 7   SCC     25331 non-null  float64
 8   UNK     25331 non-null  float64
dtypes: float64(9)
memory usage: 1.9+ MB

              MEL   NV  BCC   AK  BKL   DF  VASC  SCC  UNK
image
ISIC_0000000  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
ISIC_0000001  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
ISIC_0000002  1.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
ISIC_0000003  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
ISIC_0000004  1.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0

In [18]:
df.sum()

MEL      4522.0
NV      12875.0
BCC      3323.0
AK        867.0
BKL      2624.0
DF        239.0
VASC      253.0
SCC       628.0
UNK         0.0
dtype: float64

In [19]:
df_4 = df[(df["MEL"]==1.0)|(df["BCC"]==1.0)|(df["SCC"]==1.0)|(df["NV"]==1.0)]
df_4

/Users/tangyujin/04软件盘/anaconda3/envs/pytorch/lib/python3.6/site-packages/pandas/core/computation/expressions.py:204: UserWarning: evaluating in Python space because the '+' operator is not supported by numexpr for the bool dtype, use '|' instead
  f"evaluating in Python space because the {repr(op_str)} "
/Users/tangyujin/04软件盘/anaconda3/envs/pytorch/lib/python3.6/site-packages/pandas/core/computation/expressions.py:204: UserWarning: evaluating in Python space because the '+' operator is not supported by numexpr for the bool dtype, use '|' instead
  f"evaluating in Python space because the {repr(op_str)} "
/Users/tangyujin/04软件盘/anaconda3/envs/pytorch/lib/python3.6/site-packages/pandas/core/computation/expressions.py:204: UserWarning: evaluating in Python space because the '+' operator is not supported by numexpr for the bool dtype, use '|' instead
  f"evaluating in Python space because the {repr(op_str)} "

              MEL   NV  BCC   AK  BKL   DF  VASC  SCC  UNK
image
ISIC_0000000  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
ISIC_0000001  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
ISIC_0000002  1.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
ISIC_0000003  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
ISIC_0000004  1.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
...           ...  ...  ...  ...  ...  ...   ...  ...  ...
ISIC_0073245  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
ISIC_0073246  0.0  0.0  1.0  0.0  0.0  0.0   0.0  0.0  0.0
ISIC_0073247  0.0  0.0  1.0  0.0  0.0  0.0   0.0  0.0  0.0
ISIC_0073249  1.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
ISIC_0073251  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0

[21348 rows x 9 columns]

In [20]:
stratifier = np.array(df_4)

In [21]:
from sklearn.model_selection import train_test_split
df_train, val_test = train_test_split(df_4.index, test_size=0.3, stratify=stratifier)

In [22]:
val_test = df.T[val_test].T
val_test.info()
val_test.head()

<class 'pandas.core.frame.DataFrame'>
Index: 6405 entries, ISIC_0070941 to ISIC_0071697
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   MEL     6405 non-null   float64
 1   NV      6405 non-null   float64
 2   BCC     6405 non-null   float64
 3   AK      6405 non-null   float64
 4   BKL     6405 non-null   float64
 5   DF      6405 non-null   float64
 6   VASC    6405 non-null   float64
 7   SCC     6405 non-null   float64
 8   UNK     6405 non-null   float64
dtypes: float64(9)
memory usage: 500.4+ KB

              MEL   NV  BCC   AK  BKL   DF  VASC  SCC  UNK
image
ISIC_0070941  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
ISIC_0029321  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
ISIC_0031697  0.0  0.0  1.0  0.0  0.0  0.0   0.0  0.0  0.0
ISIC_0028025  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
ISIC_0062795  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0

In [23]:
df_val, df_test = train_test_split(val_test.index, test_size=0.66, stratify=np.array(val_test))

In [24]:
TEST = df.T[df_test].T
TEST.info()
TEST.head()

<class 'pandas.core.frame.DataFrame'>
Index: 4228 entries, ISIC_0032075 to ISIC_0029094
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   MEL     4228 non-null   float64
 1   NV      4228 non-null   float64
 2   BCC     4228 non-null   float64
 3   AK      4228 non-null   float64
 4   BKL     4228 non-null   float64
 5   DF      4228 non-null   float64
 6   VASC    4228 non-null   float64
 7   SCC     4228 non-null   float64
 8   UNK     4228 non-null   float64
dtypes: float64(9)
memory usage: 330.3+ KB

              MEL   NV  BCC   AK  BKL   DF  VASC  SCC  UNK
image
ISIC_0032075  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
ISIC_0033815  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
ISIC_0030823  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
ISIC_0031059  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
ISIC_0030091  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0

In [25]:
VAL = df.T[df_val].T
VAL.info()
VAL.head()

<class 'pandas.core.frame.DataFrame'>
Index: 2177 entries, ISIC_0032029 to ISIC_0067395
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   MEL     2177 non-null   float64
 1   NV      2177 non-null   float64
 2   BCC     2177 non-null   float64
 3   AK      2177 non-null   float64
 4   BKL     2177 non-null   float64
 5   DF      2177 non-null   float64
 6   VASC    2177 non-null   float64
 7   SCC     2177 non-null   float64
 8   UNK     2177 non-null   float64
dtypes: float64(9)
memory usage: 170.1+ KB

              MEL   NV  BCC   AK  BKL   DF  VASC  SCC  UNK
image
ISIC_0032029  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
ISIC_0056108  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
ISIC_0025595  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
ISIC_0024346  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
ISIC_0060066  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0

In [26]:
TRAIN = df.T[df_train].T
TRAIN.info()
TRAIN.head()

<class 'pandas.core.frame.DataFrame'>
Index: 14943 entries, ISIC_0031368 to ISIC_0032264
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   MEL     14943 non-null  float64
 1   NV      14943 non-null  float64
 2   BCC     14943 non-null  float64
 3   AK      14943 non-null  float64
 4   BKL     14943 non-null  float64
 5   DF      14943 non-null  float64
 6   VASC    14943 non-null  float64
 7   SCC     14943 non-null  float64
 8   UNK     14943 non-null  float64
dtypes: float64(9)
memory usage: 1.1+ MB

              MEL   NV  BCC   AK  BKL   DF  VASC  SCC  UNK
image
ISIC_0031368  1.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
ISIC_0027505  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
ISIC_0028016  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
ISIC_0026640  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
ISIC_0066519  1.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0

In [29]:
 TRAIN.shape,VAL.shape, TEST.shape

((14943, 9), (2177, 9), (4228, 9))

In [30]:
data_dir = "/Users/tangyujin/Desktop/09-半监督/03_data/ISIC2019 384x384 jpeg/train/"
TRAIN_dir = "/Users/tangyujin/Desktop/09-半监督/03_data/ISIC2019 384x384 jpeg/processed/train/"
TEST_dir = "/Users/tangyujin/Desktop/09-半监督/03_data/ISIC2019 384x384 jpeg/processed/test/"
VAL_dir = "/Users/tangyujin/Desktop/09-半监督/03_data/ISIC2019 384x384 jpeg/processed/val/"

In [34]:
import pandas as pd
import numpy as np
import cv2
from skimage import color
from skimage import io
from scipy import misc
import imageio
import time
from tqdm import tqdm_notebook
from glob import glob
import os

In [35]:
def grey_world(nimg):
    nimg = nimg.transpose(2, 0, 1).astype(np.uint32)
    mu_g = np.average(nimg[1])
    nimg[0] = np.minimum(nimg[0]*(mu_g/np.average(nimg[0])),255)
    nimg[2] = np.minimum(nimg[2]*(mu_g/np.average(nimg[2])),255)
    return nimg.transpose(1, 2, 0).astype(np.uint8)

def process_train(name): # performs same steps as process_image but saves img in TRAIN
    img = io.imread(data_dir+name+".jpg")
    img = grey_world(img)
    img = cv2.resize(img, dsize=(224, 224))#, interpolation=cv2.INTER_CUBIC)  
    imageio.imsave(TRAIN_dir+ name+".jpg", img)

def process_test(name): # takes filename of the lesion sample
    img = io.imread(data_dir+name+".jpg")
    img = grey_world(img)
    img = cv2.resize(img, dsize=(224, 224))#, interpolation=cv2.INTER_CUBIC)
    imageio.imsave(TEST_dir+ name+".jpg", img)
def process_val(name): # performs same steps as process_image but saves img in TRAIN
    img = io.imread(data_dir+name+".jpg")
    img = grey_world(img)
    img = cv2.resize(img, dsize=(224, 224))#, interpolation=cv2.INTER_CUBIC)  
    imageio.imsave(VAL_dir+ name+".jpg", img)

In [37]:
import time
from tqdm import tqdm_notebook
start = time.time()
for lesion in tqdm_notebook(TRAIN.index):
    process_train(lesion)
    
end = time.time()
print("Run time for "+ str(len(TRAIN.index)) + " images: " + str((end - start)/60)+" minutes")

/Users/tangyujin/04软件盘/anaconda3/envs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:4: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  after removing the cwd from sys.path.

  0%|          | 0/14943 [00:00<?, ?it/s]

Run time for 14943 images: 1.6818031032880147 minutes

In [38]:
import time
from tqdm import tqdm_notebook
start = time.time()
for lesion in tqdm_notebook(TEST.index):
    process_test(lesion)
    
end = time.time()
print("Run time for "+ str(len(TEST.index)) + " images: " + str((end - start)/60)+" minutes")

/Users/tangyujin/04软件盘/anaconda3/envs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:4: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  after removing the cwd from sys.path.

  0%|          | 0/4228 [00:00<?, ?it/s]

Run time for 4228 images: 0.4847792307535807 minutes

In [39]:
import time
from tqdm import tqdm_notebook
start = time.time()
for lesion in tqdm_notebook(VAL.index):
    process_val(lesion)
    
end = time.time()
print("Run time for "+ str(len(VAL.index)) + " images: " + str((end - start)/60)+" minutes")

/Users/tangyujin/04软件盘/anaconda3/envs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:4: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  after removing the cwd from sys.path.

  0%|          | 0/2177 [00:00<?, ?it/s]

Run time for 2177 images: 0.24541374842325847 minutes